<div class="container">
  <div class="terminal-nav">
    <header class="terminal-logo">
      <div class="logo terminal-prompt">
        <a href="{{ '/' | url }}" class="no-style"
          >joel.tokyo:{% nav_path page.url %}$</a
        >
        <span class="terminal-command">cd&nbsp;</span>
      </div>
    </header>
    <div class="terminal-menu">
      <nav>
        <ul>
          <li><a href="{{ '/' | url }}" class="menu-item">/</a></li>
          <li><a href="{{ '/projects' | url }}" class="menu-item">/projects</a></li>
          <li><a href="{{ '/status' | url }}" class="menu-item">/status</a></li>
          <li><a href="{{ '/keys/' | url }}" class="menu-item">/keys</a></li>
          <li><a href="{{ '/contact' | url }}" class="menu-item">/contact</a></li>
          <li>
            <a href="{{ '/credits' | url }}" class="menu-item">/credits</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
