<footer class="container">
  <div class="terminal-menu">
    <ul>
      <li>
        <a href="{{ git.repositoryURL }}" target="_blank" rel="noopener"
          > {{ git.repository }}</a
        >
      </li>
      <li>
        <a
          href="{{ git.repositoryURL }}/blob/{{ git.branch }}"
          target="_blank"
          rel="noopener"
          > {{ git.branch }}</a
        >
      </li>
      <li>
        <a
          href="{{ git.repositoryURL }}/blob/{{ git.commit }}"
          target="_blank"
          rel="noopener"
        >
           {{ git.commit }}</a
        >
      </li>
      <li>
        <a
          href="{{ git.repositoryURL }}/blob/{{ git.branch }}/{{
            page.inputPath | url
          }}"
          > {{ page.inputPath | url | reverse | truncate: 16 | reverse }}</a
        >
      </li>
      <li> {% now %} UTC</li>
    </ul>
  </div>
</footer>
